* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
}
header,
footer {
	color: #fff;
	background: #4B649C;
}
header {
	height: 65px;
	padding: 15px;
}
header h1 {
	margin: 0;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	height: 35px;
}
footer p {
	text-align: right;
	padding-right: 25px;
}
footer a,
footer a:visited {
	color: #fff;
}
.connected p {
	color: #1EE820;
}
.disconnect p {
	color: #aaa;
}
.message img {
	width: 25px;
	position: relative;
	top: 5px;
	display: inline-block;
}
.chat-window {
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	bottom: 85px;
	padding: 0 1%;
	overflow: scroll;
}
.message-bar {
	position: absolute;
	bottom: 35px;
	left: 0;
	right: 0;
}
.message-bar input {
	display: inline-block;
	height: 50px;
	float: left;
}
.message-bar input[type="text"] {
	width: 80vw;
	font-size: 25px;
	padding-left: 10px;
	border: 1px solid #999;
}
.message-bar input[type="submit"] {
	width: 20vw;
	border: none;
	font-size: 20px;
	color: #071114;
	background: #62DB56;
}