* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #545252;
}
header,
footer {
	color: #fff;
	background: #4B649C;
}
header {
	height: 65px;
	padding: 15px;
}
header h1 {
	margin: 0;
	display: inline-block;
	line-height: 1;
}
header .info {
	float: right;
	display: block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background: rgba(255,255,255,0.7);
	transition: all 0.5s ease;
	text-align: center;
	font-size: 25px;
}
header .info,
header .info:visited {
	color: #071114;
	text-decoration: none;
	font-weight: 700;
}
header .info:hover {
	background: rgba(255,255,255,1.0);
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	height: 35px;
}
footer p {
	text-align: right;
	padding-right: 25px;
}
footer a,
footer a:visited {
	color: #fff;
}
.connected p {
	color: #66B867;
}
.disconnect p {
	color: #aaa;
}
.message img {
	width: 25px;
	position: relative;
	top: 5px;
	display: inline-block;
}
.message time,
.connected time,
.disconnted time {
	font-size: 14px;
	font-style: italic;
}
.chat-window {
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	bottom: 85px;
	padding: 0 1%;
	overflow: scroll;
}
.message-bar {
	position: absolute;
	bottom: 35px;
	left: 0;
	right: 0;
}
.message-bar input {
	display: inline-block;
	height: 50px;
	float: left;
}
.message-bar input[type="text"] {
	width: 80vw;
	font-size: 25px;
	padding-left: 10px;
	border: 1px solid #999;
}
.message-bar input[type="submit"] {
	width: 20vw;
	border: none;
	font-size: 20px;
	color: #071114;
	background: #62DB56;
}
/*
 * About window
 */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease;
	background-color: rgba(255,255,255,0.5);
}
.about-container {
	width: 50%;
	max-width: 400px;
	position: absolute;
	padding: 50px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
}
.about-container h1,
.about-container h3 {
	margin: 0; 
}
.about-container p {
	margin-top: 0;
}
.about-container .close-btn {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	right: 20px;
}
.about-container .close-btn svg {
	width: 100%;
	height: 20px;
}
.show-info .overlay,
.show-info .about-container {
	opacity: 1;
	visibility: visible;
}

/*
 * Login Window
 */
.login-container {
	position: absolute;
	background: #fff;
	width: 600px;
	padding: 50px 50px;
	z-index: 120;
	opacity: 0;
	visibility: hidden;
}
.login-container label {
	display: block;
	font-size: 20px;
	text-transform: uppercase;
}
.login-container input[type="text"] {
	display: inline-block;
	width: 80%;
	height: 50px;
	border: none;
	border-bottom: 3px solid #9C3B31;
	font-size: 25px;
	color: #545252;
}
.login-container input[type="text"]:focus {
	outline: dotted rgba(0,0,0,0.5) 1px;
}
.login-container input[type="submit"] {
	border: none;
	display: inline-block;
	background: #62DB56;
	width: 19%;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
}
.show-login .overlay,
.show-login .login-container{
	opacity: 1;
	visibility: visible;
}
/*
 * Helper classes
 */
.center {
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.simple-shadow {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}